@import 'variables';
@import 'libraryCourse';
@import 'library';
@import 'arrow';

.home {
    display: grid;
    grid-template-columns: [library-s] 1fr 1fr [library-e schedule-s] 1fr [schedule-e];
    grid-template-rows: 1fr;

    height: 100vh;
    width: 100vw;
}


.schedule {
    grid-column: schedule-s/schedule-e;
    position: relative;
    width: 100%;
    height: 100%;
}

.gradient {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(120deg, $color-purple 0%, $color-light-blue 100%);
    z-index: -10;
}

html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.app {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
}